name: CD Workflow

# O CD será executado sempre que houver um push na branch `main`
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout do código
      - name: Checkout code
        uses: actions/checkout@v3

      # Configuração do Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Instalação das dependências
      - name: Install dependencies
        run: npm install

      # Build do projeto
      - name: Build project
        run: npm run build

      # Criar um arquivo simples de teste diretamente no workflow
      - name: Create test file
        run: |
          echo "Este é um arquivo de teste criado diretamente pelo GitHub Actions." > test-file.txt

      # Fazer o upload do build como artefato
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: react-build
          path: ./dist

      # Fazer o upload do arquivo de teste como artefato
      - name: Upload Test File
        uses: actions/upload-artifact@v3
        with:
          name: test-file
          path: ./test-file.txt
